*{
    color: #dfdfdf;
}
h1,h2,h3{
    padding: 0px;
    margin: 0px;
}
.window{
    // background:linear-gradient(180deg, #2d2d61 20%, #171941 60%); ;
    background:linear-gradient(180deg, #2d2d61 10%, #171941 55%); ;

    padding: 0;
}
.container{
    margin-top: 20px;
}
.main{
    margin: 0;
    height: 100vh;
}
.sidebar{
    padding: 10px 0px 0px 10px;
}
.topbar{
    padding: 0px;
    margin:0px;
}
.nav-link:hover{
    background-color: #2d2d61;
    border-radius: 5px 0px 0px 5px;
    color: #ffffff;
}
.nav-link:focus{
    background-color: #2d2d61;
    border-radius: 5px 0px 0px 5px;
    color: #ffffff;
}
.nav-item{
    font-size: 12pt;
}
.pagename{
    margin: 20px 20px 10px 25px;
    display: inline-block;
}
.title{
    margin: 10px 5px 10px 5px;
}
.tim-icons{
    margin: 5px;
}
.alert-with-icon{
    background-color: #00f2c3;
}.userdetail{
    text-align: right;
    float: right;
    width: 330px;
    padding: 20px 20px 0px 0px;
}
.dropdown-menu,.dropdown-with-icons{
    background-color: #171941;
    right: 0px !important;
    left: auto !important;
}
.dropdown-menu::before{
    color: #171941;
}
.messagecontainer{
    margin:20px;
    position: relative;
}
.message{
    display: inline-block;
    margin: auto;
    width: 400px;
    z-index: 10;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    visibility: hidden;
}